.nav-container {
    width: 100%;
    padding: 10px;
    display: flex;
    padding: 25px 25px;
    flex-direction: inline;
}

.nav-left {
    flex: 1;
}

.form-search-input {
    font-family: FontAwesomeSolid;
    background-color: #D2D2D240;
    border: 2px solid #D2D2D2;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    color: #B1B1B1;
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
}

.nav-right {
    flex: 1;
}

.nav-right-menu {
    display: flex;
    flex-direction: inline;
    justify-content: end;
}

.nav-right-menu ul {
    list-style: none;
}

.nav-right-menu ul li {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
}

.nav-right-menu ul li a {
    text-decoration: none;
}

.icon-notifikasi {
    color: #ABABAB;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 5px;
}

.create-post {
    background-color: white;
    background-image: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
    padding: 10px 20px!important;
    border: 0px solid black!important;
    border-radius: 5px!important;
    font-weight: 500!important;
    font-size: 17px!important;
    color: white!important;
}

.plusquar {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.cariFeeds {
    width: 350px !important;
    background-color: rgba(210, 210, 210, 0.25);
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 5px;
}