* {
	margin: 0;
	padding: 0;
}

body {
    background-color: black!important;
    color: white!important;
	font-family: Avenir!important;
}

/* Landing Page */

.lp-bg {
    padding: 100px 50px;
    width: 100%;
}

.lp-container {
    display: flex;
    width: 100%;
}

.lp-left {
    flex: 45%;
    padding: 25px;
}

.lp-dumbgram {
    font-family: Rochester;
    color: #fff;
    font-size: 96px;
    background: -webkit-linear-gradient(90deg, #4DD4F7 18.8%, #9090FB 40.43%, #FF6B81 60.14%, #FBDF63 79.36%, #D9F0F4 97.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 25px #CECECE;
    padding-left: 20px;
    padding-bottom: 50px;
}

.lp-left h2 {
    font-size: 56px;
    margin-bottom: 15px;
}

 .lp-left p {
    font-size: 18px;
    color: #6A6A6A;
    margin-bottom: 15px;
}

 .lp-left .lp-tombol {
    display: flex;
    justify-content: left;
}

 .lp-left .lp-tombol div {
     padding-right: 25px;
}

.lp-right {
    flex: 55%;
}

.lp-galeri {
    display: flex;
    flex-direction: row;
}

.lp-galeri .galerikiri {
    flex: 1;
}

.lp-galeri .galeritengah {
    flex: 1;
}

.lp-galeri .galerikanan {
    flex: 1;
}

.lp-galeri img {
    padding: 5px 5px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 10px;
}

/* Form Login Register */

.info-modal .modal-content {
    background-color: #1F1F1F!important;
    border: 0 solid black!important;
    border-radius: 15px!important;
    padding: 30px 20px!important;
}

.login-auth-button {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
    padding: 10px 45px!important;
    border: 0px solid black!important;
    border-radius: 5px!important;
    font-weight: 500!important;
    font-size: 17px!important;
    color: white!important;
}

.register-auth-button {
    background-color: black!important; /* For browsers that do not support gradients */
    padding: 10px 45px!important;
    border-radius: 5px!important;
    font-weight: 500!important;
    font-size: 17px!important;
    color: white!important;
    border: 0px solid black!important;
}

.form-auth-h {
    margin-bottom: 36px!important;
    font-weight: 700!important;
    color: white!important;
}

.form-auth-input {
    margin-bottom: 20px!important;
    background-color: #D2D2D240!important;
    border: 2px solid #D2D2D2!important;
    border-radius: 5px!important;
    font-weight: 400!important;
    font-size: 17px!important;
    color: #B1B1B1!important;
    padding: 10px!important;
    width: 100%!important;
    box-sizing: border-box!important;
}

.form-auth-button {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
    padding: 15px!important;
    width: 100%!important;
    border: 0px solid black!important;
    border-radius: 5px!important;
    font-weight: 500!important;
    font-size: 17px!important;
    color: white!important;
    margin-bottom: 20px!important;
}

.form-auth-p {
    text-align: center!important;
    color: #B1B1B1!important;
    font-size: 18px!important;
}

/* Home After Login */

.container {
    padding: 25px 50px;
    width: 100%;
}

/* Nav */

.nav-container {
    width: 100%;
    padding: 10px;
    display: flex;
    padding: 25px 25px;
    flex-direction: inline;
}

.home-left {
    flex: 30%;
}

.home-right {
    flex: 70%;
    border-left: 1px solid grey;
    height: 100%;
    padding-left: 25px;
}

.nav-left {
    flex: 1;
}

.form-search-input {
    background-color: #D2D2D240;
    border: 2px solid #D2D2D2;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #B1B1B1;
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
}

.nav-right {
    flex: 1;
}

.nav-right-menu {
    display: flex;
    flex-direction: inline;
    justify-content: end;
}

.nav-right-menu ul {
    list-style: none;
}

.nav-right-menu ul li {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
}

.nav-right-menu ul li a {
    text-decoration: none;
}

.create-post {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
    padding: 10px 20px!important;
    border: 0px solid black!important;
    border-radius: 5px!important;
    font-weight: 500!important;
    font-size: 17px!important;
    color: white!important;
}

/* Left Menu */

.left-menu-container {
    width: 350px;
    padding-right: 50px;
}

.left-menu-container ul li {
    list-style: none;
}

.left-menu-dumbgram {
    font-family: Rochester;
    color: #fff;
    font-size: 30px;
    background: -webkit-linear-gradient(90deg, #4DD4F7 18.8%, #9090FB 40.43%, #FF6B81 60.14%, #FBDF63 79.36%, #D9F0F4 97.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 25px #CECECE;
    padding-left: 10px;
    padding-bottom: 40px;
}

.left-menu-edit-container {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.left-menu-edit-container button {
    border-style: none;
    background-color: transparent;
}

.left-menu-up {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.left-menu-up img {
    border: 5px solid grey;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.left-menu-up h2 {
    font-size: 24;
}

.left-menu-up p {
    font-size: 14;
    font-weight: 400;
}

.left-menu-up p .username {
    font-size: 14;
    color: rgba(171, 171, 171, 1);
}

.left-menu-statsprofile {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-menu-vlleft {
    border-left: 1px solid grey;
    padding-left: 20px;
    height: 65px;
}

.left-menu-vlright {
    border-right: 1px solid grey;
    padding-right: 20px;
    height: 65px;
}

.left-menu-vldouble {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    height: 65px;
}

.left-menu-count {
    flex: 1;
    text-align: center;
}

.left-menu-count .head {
    color: #ABABAB;
    font-size: 18px;
    font-weight: 300;
}

.left-menu-count .content {
    font-size: 18px;
    font-weight: 500;
}

.data-diri {
    margin-bottom: 50px;
}

.left-menu-down {
    margin-top: 25px;
}

.left-menu-down ul {
    padding-top: 20px;
}

.left-menu-down ul li {
    padding-bottom: 25px;
}

.left-menu-down ul li a {
    text-decoration: none;
    color: #ABABAB;
}

.left-menu-down ul li img {
    margin-right: 25px;
}